Bin/*.pdb
Bin/*.ilk
Bin/*.exe
Bin/*.ipdb
Bin/*.iobj
Bin/*.exp
Bin/*.lib
Build
.vs/Game/v15
source/.vs/
source/ipch/
source/x64/
source/x64/Debug/*.lib
source/x64/Debug/*.pdb
*.db
source/.vs/Game/v15
Bin/imgui.ini
Bin/*.cpuprofile
SLB/x64/
tools/Navmeshes/source/
tools/Navmeshes/demos/crowds/.vs/
tools/Navmeshes/demos/crowds/Debug/
tools/Coroutines/.vs/
tools/Coroutines/bin/*.lib
tools/Coroutines/bin/*.ilk
tools/Coroutines/bin/*.idb
tools/Coroutines/bin/*.pdb
tools/Coroutines/Debug/*.lib
tools/Coroutines/Debug/*.idb
tools/Coroutines/Debug/*.pdb
Recast/x64/