Bin/*.pdb
Bin/*.ilk
Bin/*.exe
Bin/*.ipdb
Bin/*.iobj
Build
.vs/Game/v15
source/.vs/
source/ipch/
source/x64/
source/x64/Debug/*.lib
source/x64/Debug/*.pdb
*.db
source/.vs/Game/v15
Bin/imgui.ini
Bin/*.cpuprofile
SLB/x64/
